* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.container table {
  border-collapse: collapse;
  border: 3px solid green;
}

.container td {
  padding: 5px;
  text-align: center;
  border: 2px solid green;
  border-radius: 5px;
}
